matplotlib
nltk 
numpy==1.20.1
pandas 
sklearn==0.0.post1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0
transformer-srl==2.4.11
transformers==3.5.1

